<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="leastPriceEnable" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Least Price Products  </label>
            <tab>gadgetdrink</tab>
            <resource>Gadgetdrink_LeastPriceProducts::config_priceproducts</resource>
            <group id="leastprice_enable" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>Least Price Enable</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" >
                    <label>Enable Least Price Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> 
            </group>
            <group id="leastprice_number" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>Least Price Number</label>
                <field id="number" translate="label" type="select" sortOrder="1" showInDefault="1" >
                    <label>Number</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> 
            </group>
        </section>
    </system>
</config>